@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Amiri:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc; /* Slate 50 */
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for clean mobile look but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}